#map-layout {
    layout: vertical;
    height: 1fr;
}

#map-view {
    width: 1fr;
    height: 1fr;
    border: round $primary;
    padding: 0 1;
    background: $surface;
}

#map-status {
    height: 3;
    border: round $accent;
    padding: 0 1;
}