#map-placeholder {
    height: 1fr;
    align: center middle;
}

#map-placeholder-text {
    border: round $accent;
    padding: 1 2;
    width: auto;
}

#map-view {
    width: 1fr;
    height: 1fr;
    border: round $primary;
    padding: 0 1;
    background: $surface;
}